.imagem-banner {
    display: flex;
    background-image: url('../../../public/assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 341px;
}

.secao-banner {


}