#secaoBanner {
    
    padding-top: 90px;
    display: flex;
    position: relative;
  }

.container-banner-modo-claro{
    display: flex;
    background-color: #fff;
}

.imagem-banner {
    display: flex;
    background-image: url('../../../public/assets/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 341px;
    width: 50%;
}

.secao-banner {
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.secao-banner p {
    color: #022144;
    font-size: small;
}

.secao-banner h1 {
    color: #022144;
    font-weight: 200;
}

.secao-banner span {
    color: #022144;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .imagem-banner {
      width: 0;
    }
  
    .secaoBanner {
      width: 100%;
    }
}

/*modo escuro*/
.container-banner-modo-escuro {
    background-color: #252525;
}