#secaoBanner {
    height: 95vh;
    padding-top: 90px;
    display: flex;
    position: relative;
}

#imagemFundo {
    width: 50%;
    background-image: url('../../assets/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
}

.fundo-modo-claro{
    background-color: #fff;
}

.texto-secao-banner {
    width: 50%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafbfc;
}

.secao-banner p {
    color: #022144;
    font-size: small;
}

.secao-banner h1 {
    color: #022144;
    font-weight: 200;
}

.secao-banner span {
    color: #022144;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .imagem-banner {
      width: 0;
    }
  
    .secaoBanner {
      width: 100%;
    }
}

/*modo escuro*/
.container-banner-modo-escuro {
    background-color: #252525;
}