.secao-experiencia {
    border: 2px solid  red;
    background-color: #f6f8fc;
    display: flex;
    align-items: center;
    

}

.secao-experiencia h1 {
    color: #32333c;
    
}

.secao-experiencia p {
    color: #8a8fa3;
    
}